@model IEnumerable<University_Final_Project.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="d-inline">
    <form asp-action="Index" method="get">

        <div class="form-actions no-color form-inline">

            <p id="para">
                <a asp-action="Create" class="btn btn-primary ml-2">Create New</a>
                <a asp-action="Index" class="btn btn-primary ml-2">Back to Full List</a>
                <h5 class="ml-auto">Course Title : </h5> <input type="text" name="searchString" class="ml-2" />
                <input type="submit" value="Search" class="btn btn-primary ml-2" />

            </p>
        </div>
    </form>


</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.corse_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.credit_hours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.corse_title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.credit_hours)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Subject_Id" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Subject_Id" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Subject_Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
