@model University_Final_Project.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Last_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Father_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Father_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Employee_Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
