@model University_Final_Project.Models.ExamResult
@inject University_Final_Project.Repository.SubjectRepository subjectRepository

@{
    ViewData["Title"] = "Details";
}



<div>
    <hr />
    <h3>Exam Result Details</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Student ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.subject_FId)
        </dd>
        <dt class="col-sm-2">
           Subject
        </dt>
        <dd class="col-sm-10">
            @subjectRepository.getSubjectName(Model.subject_FId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.semester)
        </dd>
        <dt class="col-sm-2">
            Marks 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marks)
        </dd>
    
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Exam_Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
