@model University_Final_Project.Models.ExamResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExamResult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subject_FId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subject_FId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_FId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_FId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.final)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.final)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sessional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sessional)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Exam_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
