@model University_Final_Project.Models.Degree

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Degree</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.departmentFid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.departmentFid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreeId" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
